.albumsContainer {
  display: flex;
  flex-direction: column;
}

.albumsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 20px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header h1 {
  margin: 0;
}

.dropdown {
  margin-left: auto;
}
